<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" ng-click="vm.closeSideNavPanel()">
            <h2>
                <span>Boilerplate</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close Side Panel">
                <md-icon class="fa fa-close fa-2x"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-list ng-repeat="item in vm.menus">
            <md-toolbar style="background-color:#465cce">
                <p style="margin-left:5px">{{item.label}}</p>
            </md-toolbar>

            <md-list-item ng-repeat="subitem in item.itens"  ng-click="vm.cl(subitem)">
                <md-list ng-if="(subitem.itens.length == 0)">
                    <div style="font-weight:bold">
                        {{subitem.label}}
                    </div>
                </md-list>
                <md-list ng-if="(subitem.itens.length > 0)">
                    <div style="font-weight:bold">
                        {{subitem.label}}
                    </div>
                    <md-list-item ng-repeat="subsubitem in subitem.itens" ng-if="(vm.mostrar == subitem.label && vm.esconder != subitem.label)" ng-click="vm.cl(subsubitem.path)">
                      <div >
                        {{subsubitem.label}}
                      </div>
                    </md-list-item>
                    <md-list></md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
